{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
                <img src="{% static 'website/images/about.png'%}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
             
              <center>
                <br/>
                <h3>Reading</h3>
              <!--add logic  -->
              {% if my_answer %}
              <!--pop up box for wrong answer pass in color -->
              <div class="alert alert-{{ color }} alert-dismissible fade show" role="alert">
              <strong>Holy guacamole!</strong> {{ my_answer }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>  
              <!--end logic for pop up box  -->
              {% endif %}
              <br/>
              <br/>
              <br/> 
              <h1><img src="static/website/images/{{spelling_img}}.png"></h1>
                <br/>
                <br/><br/>
                <form action="{% url 'reading' %}" method="POST">
                    {% csrf_token %} <!--1.add a hidden token to protect our form  -->
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Type Your Answer Here" name= "answer" >
                <input type="hidden" name="spelling_img" value="{{ spelling_img }}">
              </div>
            </div>
          </div>

        </div>
      </div>


  
  <script type="text/javascript" src="{% static 'website/js/jquery-3.4.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'website/js/bootstrap.js'%}"></script>
  
{% endblock %}